<div class="card" style="width: 18rem; display: inline-block; margin :1vw" *ngFor="let trip of trips">
    <!-- <img class="card-img-top" src={{product.imageUrl}} height="200vh"> -->
    <div class="card-body">
        <h5 class="card-title"> From: {{trip.pickupPlace}} | To: {{trip.dropOffPlace}} </h5>
        <hr>
        <h5 class="card-title"> Departing at: {{trip.tripStartingTime}} </h5>
        <h5 class="card-title"> Available seat: {{trip.numberOfAvailableSeats}} </h5>
        <h5 class="card-title"> Description : {{trip.tripDescription}} </h5>
        <p class="card-text"> Price : ${{trip.tripPrice}}</p>

        <!-- <p class="card-text">{{product.availableInventory}} &nbsp; {{product.unit}} in stock</p> -->

        <Button class="btn btn-primary" (click)="reserveTrip(trip)">Reserve This Trip</Button>

        <!-- <div class="col-md-6 col-md-offset-3">
            <h1>Home</h1>
            <p>{{bodyText}}</p>
            <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
        </div> -->


    </div>
</div>