<!-- <div class="login">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input type="username" placeholder="username" formControlName="username">
        </p>

        <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
            <div *ngIf="formControls.username.errors.required">Email is required</div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Password" formControlName="password">
        </p>

        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>

        <p>
            <input type="submit" value="Log in">
        </p>
    </form> -->


<div class="container">
    <!-- <form [formGroup]="loginForm" (ngSubmit)="login()"> -->
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-label-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" formControlName="password" class="form-control"
                                placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                            in</button>
                        <hr class="my-4">
                        <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->

</div>